langchain
langchain-community
langchain-experimental
langchain-huggingface
huggingface_hub 
hf_xet
pinecone
sentence-transformers
pypdf
huggingface-hub
pip
pymupdf
langchain_groq
dotenv
requests
beautifulsoup4
lxml
selenium
pandas
numpy
pillow
pytesseract
pytest
pip
psycopg2
pdfplumber
camelot-py
tiktoken
watchdog
