langchain
langchain-community
langchain-experimental
langchain-huggingface
huggingface_hub
hf_xet
sentence-transformers
pypdf
pymupdf
langchain_groq
python-dotenv
requests
beautifulsoup4
lxml
pandas
numpy
pillow
pytesseract
pytest
psycopg2-binary
pdfplumber
camelot-py
tiktoken
watchdog
ragas
streamlit
langchain_openai
firecrawl-py
fastapi
uvicorn
gunicorn
pydantic
langchain-cohere
langgraph
langchain-core
langgraph-checkpoint-postgres
psycopg-pool
asyncpg